@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

body {
  background-color: #FEF7E9;
  color: #36080B;
}

header {
  background-color: #36080B;
  color: #FEF7E9;
  padding: 10px;
  font-family: 'Fredericka the Great', cursive;
}

#title {
  margin: 0;
  padding: 5px;
  font-size: 45px;
}

nav {
  text-align: right;
  padding-right: 25px;
  display: flex;
  justify-content: flex-end;
}

h6 {
  margin-left: 25px;
  font-size: 14px;
}

.glyphicon {
  padding-right: 6px;
}

#submit {
  background-color: #B54B02;
  color: #FEF7E9;
}
