@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Rye');
@import url('https://fonts.googleapis.com/css?family=Sancreek');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

body {
  background-color: #FEF7E9;
  color: #36080B;
}

header {
  background-color: #36080B;
  color: #FEF7E9;
  padding: 10px;
  font-family: 'Rye', cursive;
  display: flex;
  justify-content: space-between;
  height: 90px;
}


#title {
  margin: 0;
  padding: 5px;
  font-size: 45px;
  cursor: default;
}

i {
  margin-right: 20px;
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  color: #FEF7E9;
}

#question {
  z-index: 1;
  position: absolute;
  right: 15px;
  top: 15px;
  color: #36080B;
  font-size: 30px;
  font-family: 'Rye', cursive;
}

#question:hover {
  color: #B54B02;
  cursor: pointer;
}

#srmSlider{
  border-radius: 10px;
}

nav {
  text-align: right;
  padding-right: 25px;
  display: flex;
  justify-content: flex-end;
}

h6 {
  margin-left: 25px;
  font-size: 14px;
  cursor: pointer;
}

h6:hover {
  color: #B54B02;
}

h3 {
  margin: 0;
}

.glyphicon {
  padding-right: 6px;
}

#submit {
  background-color: #B54B02;
  color: #FEF7E9;
}

#submit:hover {
  background-color: #F5A510;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  cursor: pointer;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 18px;
  line-height: 100%;
}

li:hover {
  color: #B54B02;
}

button {
  margin-top: 5px;
}

.sliders {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #36080B;
  border: 5px solid #36080B;
  padding: 20px;
  border-radius: 5px;
}

h5 {
  color: #FEF7E9;
  text-align: center;
  font-size: 20px;
  font-family: 'PT Sans Narrow', sans-serif;
}

#listandshow {
  display: flex;
  justify-content: space-between;
}

/*#left {
  width: 55%;
}*/

#right {
  width: 50%;
}

#favorite {
  color: #8D2603;
}
#favorite:hover {
  color: #F5A510;
}

.beername {
  font-size: 25px;
  font-family: 'Sancreek', cursive;
}

#modal{
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  display: none;
}

#modalDelete{
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  display: none;
}

#modal-delete-text-area {
  background-color: #FEF7E9;
  height: 150px;
  width: 300px;
  border: 5px solid #36080B;
  margin: 150px auto;
  overflow: auto;
  padding: 0px 20px 5px 20px;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.7);
  color: #36080B;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  text-align: center;
}

#modal-text-area {
  background-color: #FEF7E9;
  height: 625px;
  width: 600px;
  border: 5px solid #36080B;
  margin: 150px auto;
  overflow: auto;
  padding: 0px 20px 5px 20px;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.7);
  color: #36080B;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
}

p {
  line-height: 100%;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 16px;
}

#modal-footer {
  text-align: right;
}

#closeBtn {
  color: #36080B;
  cursor: pointer;
  font-family: 'Sancreek', cursive;
  float: right;

}

#modal-header {
  text-align: center;
  font-family: 'Sancreek', cursive;
}

strong {
  font-family: 'Sancreek', cursive;
}

#userprofile {
  text-align: left;
}

#mapbtn {
    text-align: left;
}

#favlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.favorite {
  border: 2px solid #36080B;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
  height: 170px;
  width: 250px;
  padding: 20px;
  text-align: center;
  margin-top: 5px;
  background-color: #FEFDFE;
}

.favlistname:hover {
  color: #36080B;
  cursor: default;
}

.profilestats {
  margin-top: 15px;
}

#openD {
  width: 106px;
}

.h3header {
  text-align: center;
  font-family: 'Sancreek', cursive;
  font-size: 25px;
  color: #8D2603;
}

footer {
  background-color: #36080B;
  color: #FEF7E9;
  bottom: 0;
  height: 25px;
  clear: both;
  text-align: center;
}

iframe {
  border: none;
  margin: 0 auto;
}

#iframetag {
  text-align: center;
}

#todpia {
  cursor: default;
}

#todpia:hover {
  color: #FEF7E9;
}
